# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
test/.ipynb_checkpoints/

# Ignore zip files
test.zip

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore a specific folder
json_for_test/